{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": "umd"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    /* ["babel-plugin-react-css-modules", {
      "generateScopedName": "[name]__[local]___[hash:base64:5]",
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }], */
    "macros",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true,
        "sourceType": "script"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": []
    },
    "production-google": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "esmodules": true
            }
          }
        ]
      ]
    }
  }
}
