{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true,
    "amd": true,
    "es6": true
  },
  "plugins": ["compat", "react", "promise", "security"],
  "extends": [
    "plugin:promise/recommended",
    "plugin:security/recommended",
    "standard"
  ],
  "rules": {
    "indent": 1,
    "compat/compat": 1,
    "promise/param-names": 1,
    "space-before-function-paren": 0,
    "no-unused-expressions": 1,
    "promise/catch-or-return":1,
    "promise/always-return":1,
    "no-new":1
  }
}