@import '~assets:css/tailwind';

$primary-color: #144161;

.header {
  position: relative;
  background-color: $primary-color;
  padding: 20px;
  overflow: visible;

  &__logo {
    padding-bottom: 40px;
    background-image: url(~assets:img/bilbransje24-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 250px;
    z-index: 1;
  }

  &__profile-btn {
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 100px;
    margin-right: 10px;
    letter-spacing: 1px;
    padding: 10px;
    border: solid 2px white;
    border-radius: 2px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
  }

  &__menu-btn {
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 90px;
    letter-spacing: 1px;
    padding: 10px;
    border: solid 2px transparent;
    z-index: 1;
    cursor: pointer;
    user-select: none;
  }

  &__search {
    margin-right: 15px;
    max-width: 20rem;
    height: 3.6rem;
    padding-right: 3.6rem;
    padding-left: 1rem;
    color: #111;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff8f2;
    border-radius: 8rem;
    background-repeat: no-repeat;
    background-position: center right 1.2rem;
    background-size: 2rem 2rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.192 12.606a7 7 0 1 1 1.414-1.414l1.41 1.41a1.991 1.991 0 0 1 1.932.518l2.832 2.831c.78.78.785 2.04-.002 2.827a1.994 1.994 0 0 1-2.827.002l-2.831-2.832a1.994 1.994 0 0 1-.518-1.932l-1.41-1.41zM7 12A5 5 0 1 0 7 2a5 5 0 0 0 0 10z' fill ='rgb(20,65,97)'/%3E%3C/svg%3E");
    border: none;
    box-shadow: none;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    left: -1000px;
    top: 0;
    bottom: 0;
    width: 5000px;
    background-color: $primary-color;
    z-index: 0;
  }
}
