.shortlist {
  background-color: #ddd;
  padding: 10px;
  padding-right: 15px;
  font-size: 1.2rem;
  line-height: normal;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #333;
  &__item {
    line-height: 1.2;
    margin-bottom: 1rem;
    background-color: #f0f0f0;
    padding: 10px;
  }
  &__link {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
  }
}
